[Desktop Entry]
Version=1.0
Name=Vivaldi
GenericName=Web Browser
Comment=Access the Internet
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=vivaldi --file-forwarding com.vivaldi.Vivaldi @@u %U @@
StartupWMClass=Vivaldi-flatpak
StartupNotify=true
Terminal=false
Icon=com.vivaldi.Vivaldi
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
Actions=new-window;new-private-window;
X-Flatpak=com.vivaldi.Vivaldi
X-XFCE-Source=file:///var/lib/flatpak/app/com.vivaldi.Vivaldi/x86_64/stable/b51dff0441b552dad9aca5618c57d03f97ed652aa24383eabd51f93e36945e95/export/share/applications/com.vivaldi.Vivaldi.desktop

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=vivaldi com.vivaldi.Vivaldi --new-window

[Desktop Action new-private-window]
Name=New Private Window
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=vivaldi com.vivaldi.Vivaldi --incognito
