[Desktop Entry]
Name=KeePassXC
GenericName=Password Manager
Comment=Community-driven port of the Windows application “KeePass Password Safe”
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=keepassxc --file-forwarding org.keepassxc.KeePassXC @@ %f @@
Icon=org.keepassxc.KeePassXC
StartupWMClass=keepassxc
StartupNotify=false
Terminal=false
Type=Application
Version=1.5
Categories=Utility;Security;Qt;
MimeType=application/x-keepass2;
SingleMainWindow=true
X-GNOME-SingleWindow=true
Keywords=security;privacy;password-manager;yubikey;password;keepass;
X-Flatpak=org.keepassxc.KeePassXC
X-XFCE-Source=file:///var/lib/flatpak/app/org.keepassxc.KeePassXC/x86_64/stable/ccbae381eaacb63503f02810a516525a3d4c0f12669840c3744e59866b535fd0/export/share/applications/org.keepassxc.KeePassXC.desktop
